@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg;
}

header {
    height: 20vh;
    width: 1400px;
}


#main-box {
    height: 80vh;

    padding: 40px 20px;

    #gallery {
        background-color: $bg-gray;
        height: 100%;
    }
}